<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <title>Header</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/images/logo.png" alt="logo TMT" width="100px">
        </div>
        <div class="contentheader">
            <div class="izqHead content">
                <div class="dropdown">Productos</div>
                <div class="cont">Contacto</div>
            </div>
            <div class="derHead content">
                <div class="registro">Registrarme</div>
                <div class="ingreso">Ingresar</div>
                <div class="carrito">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
                </div>
            </div>
        </div>
        
    </div>
    <div class="contenido">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis numquam harum dignissimos amet porro quos maxime ea id fugiat. Vel ea fugiat ipsum hic modi, dolorum voluptatibus labore magni veritatis!

    </div>
</body>
</html>