<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <title>Document</title>
</head>
<body>
    <!-- Bootstrap JavaScript code -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- End code -->
    <div class="header">
        <div class="logo">
            <img src="/images/logo.png" alt="logo TMT" width="100px">
        </div>
        <div class="contentheader">
            <div class="izqHead content">
                <div class="dropdown">Productos</div>
                <div class="cont">Contacto</div>
            </div>
            <div class="derHead content">
                <div class="registro">Registrarme</div>
                <div class="ingreso">Ingresar</div>
                <div class="carrito">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
                </div>
            </div>
        </div>
        
    </div>
    <div id="carouselExampleControls" class="carousel slide propaganda" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="categorias">
        <div class="encabezado">
            <p class="titulo">Conoce todo lo que te podemos ofrecer</p>
        </div>
        <div class="categorias-master">
            <div class="muebles">
                <a href="#muebles"><img src="/images/Muebles.png" alt="Muebles"></a>
            </div>
            <div class="electros">
                <a href="#electro"><img src="/images/Electrodomésticos.png" alt="Electro"></a>
            </div>
        </div>
        <div class="subcategorias">
                <div class="sub-muebles subC" id="muebles">
                    <a href="#"><img src="/images/Mesas.png" alt="Mesas"></a>
                    <a href="#"><img src="/images/Camas.png" alt="Camas"></a>
                    <a href="#"><img src="/images/Escritorios.png" alt="Escritorios"></a>
                    <a href="#"><img src="/images/Sillones.png" alt="Sillones"></a>
                </div>
                <div class="sub-electros subC" id="electro">
                    <a href="#"><img src="/images/Microondas.png" alt="Microondas"></a>
                    <a href="#"><img src="/images/Televisores.png" alt="Televisores"></a>
                    <a href="#"><img src="/images/Lavarropas.png" alt="Lavarropas"></a>
                    <a href="#"><img src="/images/Cafeteras.png" alt="Cafeteras"></a>
                </div>
        </div>
    </div>
    <div class="recom">
        <div class="encabezado">
            <p class="titulo">Recomendaciones</p>
        </div>
        <div class="produc-recom">
            <div class="flecha">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAQpJREFUaEPt2FEOwjAMA9DspMDN4CbcjCnSkPrBaLvYjiplX3x0wy8u6sRmi1/b4vmtANkNVgPVQHACtYWCAwzfXg1MjvBpZh8ze0zed7pc2YCHvx1J/DMEoQK04b/ThCAUgF/hYQg24F94R7zM7B75PTAB9PAOZwEk4VkAWXgGQBoeDZCHRwJSwqMAaeERgNTwUUB6eDYA8q7TO6WjB1mvBToiCvABpSIQgFQECpCGQAJSEGiAHMEASBEsgAzBBEgQbEAP4X+t+Dly+VIAzhDh8NF3odmptSc2JLwa4N/3PrZMaNu0k1Ntodm2htcXYHhUpIXVAGmww4+tBoZHRVpYDZAGO/zY5RvYAQgIODGcFQF/AAAAAElFTkSuQmCC"/>
            </div>
            <a href="/productdetail"><div class="product">
                <div class="img-prod arriba">
                    <img src="/images/micro2.jpg" alt="Microondas 1">
                </div>
                <div class="abajo">
                    <div class="descrip-prod">
                        <p class="nombre texto">Microondas smart</p>
                        <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        <p class="precio texto">$8.000</p>
                        <div class="disc">
                            <p>80% OFF</p>
                        </div>
                    </div>
                    <div class="bot-carrito">
                        <a href="/productCart"><span class="boton">Añadir al carrito</span></a>
                    </div>
                </div>
            </div></a>
            <a href="/productdetail"><div class="product">
                <div class="img-prod arriba">
                    <img src="/images/sillon2.jpg" alt="Sillon Gris">
                </div>
                <div class="abajo">
                    <div class="descrip-prod">
                        <p class="nombre texto">Sillón dos cuerpos</p>
                        <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        <p class="precio texto">$35.000</p>
                        <div class="disc">
                            <p>15% OFF</p>
                        </div>
                    </div>
                    <div class="bot-carrito">
                        <a href="/productCart"><span class="boton">Añadir al carrito</span></a>
                    </div>
                </div>
            </div></a>
            <a href="/productdetail"><div class="product">
                <div class="img-prod arriba">
                    <img src="/images/pantallaPlana.jpg" alt="Televisor LG">
                </div>
                <div class="abajo">
                    <div class="descrip-prod">
                        <p class="nombre texto">TV LG 16k USB 1.0</p>
                        <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        <p class="precio texto">$100.000.000</p>
                        <div class="disc">
                            <p>90% OFF</p>
                        </div>
                    </div>
                    <div class="bot-carrito">
                        <a href="/productCart"><span class="boton">Añadir al carrito</span></a>
                    </div>
                </div>
            </div></a>
            <div class="flecha">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAASpJREFUaEPtlt0NwjAMhK8bMAojsAkwGTABIzAayBKRShWq/Nw5reQ+9SFx7ruzlUzY+TftXD8CYHSCkUAk0OlAtFCngd3bI4GFhXcAbwDXbmsLCzATMPHn77n27wLBApiLT965QDAAcuLdINQABiJNggGQRKb+z42fDIIFMAyCCTAEgg3gDqEAcIVQAbhBKAFcINQAcggPACnEVgAeAC6FD9CfZR4Aa28lE9Ms3jarAaTi1QBy8UoAF/EKgAOAJ4DTykB29fyyLnMGTPwLwNFLPDOBIeJZAMPEMwCGimcAWA27QW9/+p46sLkzWEOcg5CLZyWQjJlDuIhnA6R2sjug6WG21cdci67iPawZKD6QvTAA2I7W1osEah1jr48E2I7W1osEah1jr/8A1Lw3McKUuUMAAAAASUVORK5CYII="/>
            </div>
        </div>
    </div>
    <div class="sponsors">
        <img src="/images/Diseño sin título.png" alt="sponsors">
    </div>
    <footer>
        <div class="grandpa">

            <div class="padre">

                <div class="hijos">

                    <h2>Contacto</h2><br>
                    <h1> 123 Anywhere St., Any City, ST</h1>
                    <h1>12345hello@reallygreatsite.com</h1>
                    <h1>www.reallygreatsite.com</h1>
                </div>

                <div class="hijos">

                    <div class="contac"><i class="fa-solid fa-phone"></i>
                        <h1>+54 2901 12345678</h1><br>
                    </div>
                    <div class="contac"><i class="fa-brands fa-instagram"></i>
                        <h1>@Instagram</h1><br>
                    </div>
                    <div class="contac"><i class="fa-brands fa-facebook"></i>
                        <h1>Facebook</h1><br>
                    </div>
                </div>
            </div>

            <div class="madre">

                <div class="hijas">

                    <img src="/images/visa@2x.png" alt="">
                    <img src="/images/mastercard@2x.png" alt="">
                    <img src="/images/amex@2x.png" alt="">
                    <img src="/images/nativa@2x.png" alt="">
                    <img src="/images/argencard@2x.png" alt="">
                    <img src="/images/banelco@2x.png" alt="">
                    <img src="/images/cabal@2x.png" alt="">
                    <img src="/images/tarjeta-naranja@2x.png" alt="">
                    <img src="/images/mercadopago@2x.png" alt="">
                    <img src="/images/cencosud@2x.png" alt="">
                    <img src="/images/tarjeta-shopping@2x.png" alt="">

                </div>
                <div>
                    <div class="copy"><i class="fa-solid fa-copyright"></i>
                        <h1> Derechos reservados 3TM 2022-2023 | Desarrollado por los mas perrones</h1>
                    </div>

                </div>

            </div>





        </div>

    </footer>
</body>
</html>