<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/formulario.css" />
    <title>Inicio</title>
  </head>

  <body>
    <div class="contenedor">
      <form class="formularioLogin">
        <div class="arriba">
          <h1>Iniciar sesión</h1>
        </div>
        <div class="abajo">
          <div class="izquierda">
            <label for="email">Email:</label>
            <br />
            <input type="email" id="email" class="form_input" />
            <br />
            <label for="contraseña">Contraseña:</label>
            <br />
            <input type="password" id="contraseña" class="form_input" />
            <p>
              Si tiene problemas para acceder a su cuenta envienos su mensaje al
              muebles3TM@gmail.com
            </p>
          </div>
          <div class="derecha">
            <button>Acceder</button>
            <button>Crear cuenta</button>
            <img src="/images/logop.png" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
