<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/formulario.css" />
    <link rel="stylesheet" href="/css/HeaderFooterStyle.css">
    <title>Inicio</title>
  </head>

  <body>
     <header>
        <div class="cuerpo">
            <div>
              <a href="/">
                <img src="/images/logop.png" alt="" class="logoheader">
              </a>
            </div>
            <div class="selectores">

                <div class="izq">

                    <ul class="menu-horizontal">
                        <li>
                            <h1>Productos<i class="fa-solid fa-chevron-down flechita"></i></h1> 
                            <ul class="menu-vertical">
                                <li>Muebles
                                    <ul>
                                        <li>Estantes</li>
                                        <li>Sillones</li>
                                        <li>Escritorios</li>
                                    </ul>
                                </li><br>
                                <li>Electrodomesticos
                                    <ul>
                                        <li>Televisores</li>
                                        <li>Sonido</li>
                                        <li>Cocina</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h1 class="contacto">Contacto</h1>
                        </li>

                    </ul>
                </div>

                <div class="der">

                    <a href="/login"><h1>Ingresar</h1></a>
                    <a href="/register"><h1>Registrarse</h1></a>
                    <a href="/productCart"><h1>Carrito<i class="fa-solid fa-cart-shopping"></i></h1></a>

                </div>
            </div>
        </div>
    </header>

    <div class="contenedor">
      <form class="formularioLogin">
        <div class="arriba">
          <h1>Iniciar sesión</h1>
        </div>
        <div class="abajo">
          <div class="izquierda">
            <label for="email">Email:</label>
            <br />
            <input type="email" id="email" class="form_input" />
            <br />
            <label for="contraseña">Contraseña:</label>
            <br />
            <input type="password" id="contraseña" class="form_input" />
            <p>
              Si tiene problemas para acceder a su cuenta envienos su mensaje al
              muebles3TM@gmail.com
            </p>
          </div>
          <div class="derecha">
            <button>Acceder</button>
            <button>Crear cuenta</button>
            <img src="/images/logop.png" />
          </div>
        </div>
      </form>
    </div>

     <footer>
        <div class="grandpa">

            <div class="padre">

                <div class="hijos">

                    <h2>Contacto</h2><br>
                    <h1> 123 Anywhere St., Any City, ST</h1>
                    <h1>12345hello@reallygreatsite.com</h1>
                    <h1>www.reallygreatsite.com</h1>
                </div>

                <div class="hijos">

                    <div class="contac"><i class="fa-solid fa-phone"></i>
                        <h1>+54 2901 12345678</h1><br>
                    </div>
                    <div class="contac"><i class="fa-brands fa-instagram"></i>
                        <h1>@Instagram</h1><br>
                    </div>
                    <div class="contac"><i class="fa-brands fa-facebook"></i>
                        <h1>Facebook</h1><br>
                    </div>
                </div>
            </div>

            <div class="madre">

                <div class="hijas">

                    <img src="/images/visa@2x.png" alt="">
                    <img src="/images/mastercard@2x.png" alt="">
                    <img src="/images/amex@2x.png" alt="">
                    <img src="/images/nativa@2x.png" alt="">
                    <img src="/images/argencard@2x.png" alt="">
                    <img src="/images/banelco@2x.png" alt="">
                    <img src="/images/cabal@2x.png" alt="">
                    <img src="/images/tarjeta-naranja@2x.png" alt="">
                    <img src="/images/mercadopago@2x.png" alt="">
                    <img src="/images/cencosud@2x.png" alt="">
                    <img src="/images/tarjeta-shopping@2x.png" alt="">

                </div>
                <div>
                    <div class="copy"><i class="fa-solid fa-copyright"></i>
                        <h1> Derechos reservados 3TM 2022-2023 | Desarrollado por los mas perrones</h1>
                    </div>

                </div>

            </div>





        </div>

    </footer>
  </body>
</html>
