<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="/css/HeaderFooterStyle.css">
        <link rel="stylesheet" href="/css/homestyle.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="cuerpo">
                <div>
                    <a href="/">

                        <img src="/images/logop.png"  class="logoheader">
                    </a>
                </div>
                <div class="selectores">
    
                    <div class="izq">
    
                        <ul class="menu-horizontal">
                            <li>
                                <h1>Productos<i class="fa-solid fa-chevron-down flechita"></i></h1> 
                                <ul class="menu-vertical">
                                    <li>Muebles
                                        <ul>
                                            <li>Estantes</li>
                                            <li>Sillones</li>
                                            <li>Escritorios</li>
                                        </ul>
                                    </li><br>
                                    <li>Electrodomesticos
                                        <ul>
                                            <li>Televisores</li>
                                            <li>Sonido</li>
                                            <li>Cocina</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
    
                            <li>
                                <h1 class="contacto">Contacto</h1>
                            </li>
    
                        </ul>
                    </div>
    
                    <div class="der">
    
                        <a href="/login"><h1>Ingresar</h1></a>
                        <a href="/register"><h1>Registrarse</h1></a>
                        <a href="/productCart"><h1>Carrito<i class="fa-solid fa-cart-shopping"></i></h1></a>
    
                    </div>
                </div>
            </div>
        </header>
        <div class="contenido">
            <div class="infoproducto">
                <div class="izquierda">
                    <div class="titulo marginbottom">
                        <h1>Televisor lg 4k curvo</h1>

                    </div>
                    <div class="descripcion marginbottom">

                        <p>El distintivo cuerpo metálico muestra líneas puras y
                            curvas. LG UHD TV muestra elegancia que sorprende.
                            - Nuevo sistema de audio envolvente de LG con hasta 7
                            canales para mejor inmersión.
                            - Ultra Luminance y Local Dimming aumentan el brillo y
                            mejoran el detalle al ajustar la luz posterior y dividir
                            la imagen en bloques de contraste independiente.
                            - El Efecto HDR de LG usa un proceso de imagen que
                            transforma el contenido normal a calidad HDR aumentando
                            el contraste.
                            - LG UHD TV permite reproducir contenido premium HDR
                            perfeccionado por Dolby Vision. También es compatible
                            con HDR10 y HLG. La tecnología exclusiva de LG de Active
                            HDR permite optimizar la calidad de imagen cuadro por
                            cuadro.
                            - LG Magic Remote te permite controlar tu televisor de
                            forma rápida, simple e incluso con tu propia voz.
                            Gracias al puntero incorporado, podrás acceder a las
                            aplicaciones con tan sólo apuntar y cliquear. Y para no
                            perder ningún detalle, presiona la lupa de tu Magic
                            Remote y has Zoom en vivo al contenido que estás viendo.</p>
                    </div>
                    <div class="precio marginbottom">
                                            <h2>$92.000</h2>
                    </div>
                    <a href="/productCart"><span class="botom">
                        Agregar al carrito
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQlJREFUSEvNlMEVATEQhr+tgBKoAB1QAR3gygEdUAEXrqgAHVABKkAFqIA33mbf2pVNWPHMNZP55s8/Ew/H4Tmuz08BN1/NBZgBvW+oCytQAFW3AqzTQl49URcYAiug5gKQBc5+4TxwTAPRmSwe1FMU3gElua8DFIFtCsAJyCUB5Ey6KGggqrHoYKj0AdA3ARrA9ENA4J1p0WQnMiGILj+sZAOU1R0TYAR03gQ0/UV9XDMBxKjDi2fSeXD1zRXlVgBJWgLVCEQHmAPiXRAmBZIo27ywHNnY92IDMI2sYu8B2Z+nsAVYCoin2QLGQAuYAO1ImaQz4xSpWuE5jzaVdGYNcK7AuQf/C7gDNOwuGTttIPQAAAAASUVORK5CYII="/>
                    </span></a> <a href="/productCart"></a>
                </div>
                <div class="derecha">
                    <img src="/images/pantallaCurva.jpg" />
                </div>
            </div>
            <div class="slider">
                <div class="recom">
                    <div class="encabezado">
                        <p class="titulo">Recomendaciones</p>
                    </div>
                    <div class="produc-recom">
                        <div class="flecha">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAQpJREFUaEPt2FEOwjAMA9DspMDN4CbcjCnSkPrBaLvYjiplX3x0wy8u6sRmi1/b4vmtANkNVgPVQHACtYWCAwzfXg1MjvBpZh8ze0zed7pc2YCHvx1J/DMEoQK04b/ThCAUgF/hYQg24F94R7zM7B75PTAB9PAOZwEk4VkAWXgGQBoeDZCHRwJSwqMAaeERgNTwUUB6eDYA8q7TO6WjB1mvBToiCvABpSIQgFQECpCGQAJSEGiAHMEASBEsgAzBBEgQbEAP4X+t+Dly+VIAzhDh8NF3odmptSc2JLwa4N/3PrZMaNu0k1Ntodm2htcXYHhUpIXVAGmww4+tBoZHRVpYDZAGO/zY5RvYAQgIODGcFQF/AAAAAElFTkSuQmCC"/>
                        </div>
                        <div class="product">
                            <div class="img-prod arriba">
                                <img src="/images/micro2.jpg" alt="Microondas 1">
                            </div>
                            <div class="abajo">
                                <div class="descrip-prod">
                                    <p class="nombre texto">Microondas smart</p>
                                    <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                                    <p class="precio texto">$8.000</p>
                                    <div class="disc">
                                        <p>80% OFF</p>
                                    </div>
                                </div>
                                <div class="bot-carrito">
                                <a href="/productCart"><span class="boton">Añadir al carrito</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img-prod arriba">
                                <img src="/images/sillon2.jpg" alt="Sillon Gris">
                            </div>
                            <div class="abajo">
                                <div class="descrip-prod">
                                    <p class="nombre texto">Sillón dos cuerpos</p>
                                    <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                                    <p class="precio texto">$35.000</p>
                                    <div class="disc">
                                        <p>15% OFF</p>
                                    </div>
                                </div>
                                <div class="bot-carrito">
                                    <a href="/productCart"><span class="boton">Añadir al carrito</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img-prod arriba">
                                <img src="/images/pantallaPlana.jpg" alt="Televisor LG">
                            </div>
                            <div class="abajo">
                                <div class="descrip-prod">
                                    <p class="nombre texto">TV LG 16k USB 1.0</p>
                                    <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                                    <p class="precio texto">$100.000.000</p>
                                    <div class="disc">
                                        <p>90% OFF</p>
                                    </div>
                                </div>
                                <div class="bot-carrito">
                                    <a href="/productCart"><span class="boton">Añadir al carrito</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="flecha">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAASpJREFUaEPtlt0NwjAMhK8bMAojsAkwGTABIzAayBKRShWq/Nw5reQ+9SFx7ruzlUzY+TftXD8CYHSCkUAk0OlAtFCngd3bI4GFhXcAbwDXbmsLCzATMPHn77n27wLBApiLT965QDAAcuLdINQABiJNggGQRKb+z42fDIIFMAyCCTAEgg3gDqEAcIVQAbhBKAFcINQAcggPACnEVgAeAC6FD9CfZR4Aa28lE9Ms3jarAaTi1QBy8UoAF/EKgAOAJ4DTykB29fyyLnMGTPwLwNFLPDOBIeJZAMPEMwCGimcAWA27QW9/+p46sLkzWEOcg5CLZyWQjJlDuIhnA6R2sjug6WG21cdci67iPawZKD6QvTAA2I7W1osEah1jr48E2I7W1osEah1jr/8A1Lw3McKUuUMAAAAASUVORK5CYII="/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="grandpa">
    
                <div class="padre">
    
                    <div class="hijos">
    
                        <h2>Contacto</h2><br>
                        <h1> 123 Anywhere St., Any City, ST</h1>
                        <h1>12345hello@reallygreatsite.com</h1>
                        <h1>www.reallygreatsite.com</h1>
                    </div>
    
                    <div class="hijos">
    
                        <div class="contac"><i class="fa-solid fa-phone"></i>
                            <h1>+54 2901 12345678</h1><br>
                        </div>
                        <div class="contac"><i class="fa-brands fa-instagram"></i>
                            <h1>@Instagram</h1><br>
                        </div>
                        <div class="contac"><i class="fa-brands fa-facebook"></i>
                            <h1>Facebook</h1><br>
                        </div>
                    </div>
                </div>
    
                <div class="madre">
    
                    <div class="hijas">
    
                        <img src="/images/visa@2x.png" alt="">
                        <img src="/images/mastercard@2x.png" alt="">
                        <img src="/images/amex@2x.png" alt="">
                        <img src="/images/nativa@2x.png" alt="">
                        <img src="/images/argencard@2x.png" alt="">
                        <img src="/images/banelco@2x.png" alt="">
                        <img src="/images/cabal@2x.png" alt="">
                        <img src="/images/tarjeta-naranja@2x.png" alt="">
                        <img src="/images/mercadopago@2x.png" alt="">
                        <img src="/images/cencosud@2x.png" alt="">
                        <img src="/images/tarjeta-shopping@2x.png" alt="">
    
                    </div>
                    <div>
                        <div class="copy"><i class="fa-solid fa-copyright"></i>
                            <h1> Derechos reservados 3TM 2022-2023 | Desarrollado por los mas perrones</h1>
                        </div>
    
                    </div>
    
                </div>
    
    
    
    
    
            </div>
    
        </footer>
    </body>
</html>