<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/productDetail.css">
    <title>Document</title>
</head>
<body>
    <div class="contenido" >
        <div class="info producto" >
        <div class="izquierda" >
        Texto
        </div>
        <div class="derecha" >
        <img src="" />
        </div>
        </div>
        <div class="slider" >
        Slider
        </div>
        </div>
</body>
</html>