<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/productCart.css"/>
    <title>Carrito</title>
</head>
<body>
    <div class="contenedor">
        <div class="arriba">
            <div class="izquierda">
                <div class="tarjeta">
                    <div class="tarjeta-izquierda">
                    <div class="detalles">
                    <img src="../public/images/Camas.png" width="100px" height="100px">
                    <p>Nombre del producto</p>
                    <p>Precio</p>
                    <button type="reset">Eliminar</button>
                    </div>
                    </div>
                    <div class="tarjeta-derecha">
                        <span>-</span>
                        <div class="cantida-producto">
                            1
                        </div>
                        <span>+</span>
                    </div>
                </div>
            </div>
            <div class="derecha">
                <div class="derecha-arriba">
                    <div class="logo"><img src="../public/images/logop.png" width="100px" height="100px"></div>
                </div>
                <div class="derecha-abajo">
                    <p>Precio lista: 10.000</p>
                    <p>Descuentos: 5.000</p>
                    <p>Sub-total: 5.000</p>
                    <p>Total: 5.000</p>
                    <div class="boton">
                        <button type="submit">Realizar compra</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="abajo">
            <div class="boton">

            </div>
        </div>
    </div>
</body>
</html>