<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>Registro</title>
</head>

<body>
  <div class="contenedor">
    <form class="formularioRegister">
      <h1>Crea tu cuenta</h1>
      <div class="izquierda">
        <h3>Nombre</h3>
        <input type="text">
        <h3>Email</h3>
        <input type="email">
        <h4>Contraseña</h4>
        <input type="password">
      </div>
      <div class="derecha">
        <h3>Apellido</h3>
        <input type="text">
        <h3>Telefono</h3>
        <input type="number">
        <h3>Confirmar contraseña</h3>
        <input type="password">
      </div>
      <button>Registrarme</button>
    </form>
  </div>
</body>

</html>