html{
  margin: auto;
  padding: 0;
  background-color: grey;
}

*{
  font-family: sans-serif;
  padding: 0px;
}

.contenedor{
  display: flex;
  justify-content: center;
}

.formularioRegister{
  display: flex;
  padding: 2rem;
  margin-top: 30px;
  width: 50%;
  flex-direction: column;
  border: solid black 5px;
background-color: white;
}
input:focus{
  outline: none;
}
input{
    border: 0;
    border-bottom: solid 2px;
    background-color: transparent;
}

.formularioRegister .izquierda{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.formularioRegister .derecha{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
}



h1{
  display: flex;
  justify-content: center;
}

button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 45px;
  padding-left: 7px;
  background-color: black;
  color: white;
  border-radius: 6px;
}

.boton{
  display: flex;
  justify-content: center;
}

.formularioLogin{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  border: solid 2px;
  background-color: white;
}

.formularioLogin .izquierda{
  display: flex;
  margin: 1rem;
  flex-direction: row;
}

.formularioLogin .derecha{
  display: flex;
  margin: 1rem;
  flex-direction: column;     
  width: 60%;
}

.titulo{
  display: flex;
  justify-content: center;
}

.formularioLogin button{
  padding: 20px;
}

.formularioLogin .boton{
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 5px;
  height: 10px;
}

img{
  width: 130px;
  height: 130px;
}

.logo{
  display: flex;
  justify-content: end;
}